*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.a{
	height: 1100px;
	width: 100%;
	background: url('../images/p1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}



.a1{

	margin-left: 100px;
	padding-top: 37px;
	color: lightgrey;
	margin-top: 20px;
	font-size: 30px;
}
.a3{
	font-size: 20px;
	margin-left: 556px;
	margin-top: 167px;
	color: white;
}
.a4{
	font-size: 60px;
	margin-left: 503px;
	margin-top: 1px;
	color: white;

}
.a2{
	margin-top: 10px;
	float: right;
	padding-right: 20px;
	margin-right: 30px;


}
a{
	margin-left: 30px;
	text-decoration: none;
	margin-top: 3px;
	color: white;
}
.button1{
	background-color: rgb(255, 136, 0);
	color: white;
	margin-left: 590px;
	margin-top: 597px;
	padding: 10px;
}



.b{
	width: 100%;
	height: 400px;
	background-color: white;
	position: absolute;
	top: 515px;
}
.b1{
	height: 280px;
	width: 300px;
	background-color:white;
	float: left;

}
.b2{
	width: 300px;
	height: 280px;
	background-color: white;
	float: left;
	
 }
 .b3 {
	width: 300px;
	height: 280px;
	background-color: white;
	float: left;
	
 }
    .b4 {
	width: 300px;
	height: 280px;
	background-color:white;
	float: right;
	

    }
    .fa-earth-americas{
    	color: orange;
    	font-size: 30px;
    	background-repeat: no-repeat;
    	margin-top: 35px;
    	margin-left: 128px;
    }
  
  
  .fa-mountain{
  	color: rgb(255, 136, 0);
margin-left:128px;
margin-top: 35px;
font-size: 30px;
}
.fa-route{
	color: rgb(255, 136, 0);;
	margin-left: 128px;
	margin-top: 35px;
	font-size: 30px;

}
.fa-person-shelter{
	color: rgb(255, 136, 0);;
	margin-left: 120px;
	margin-top: 35px;
	font-size: 30px;
}
.hr1{
	width: 80px;
	height: 2px;
	color: rgb(255, 136, 0);;
	margin-top: 20px;

}
  .h1{
  	font-size: 16px;
  	margin-left:102px;
  	margin-top: 20px;
  	color:grey;
  }
  .p1{
  	margin-top: 8px;

  }
  .p2{
  	margin-top: 9px;
  }
  .p3{
  	margin-top: 10px;
  }
  .h2{
 	
  	color:rgb(255, 136, 0);;
  	
  }
  .hr2{
  	width: 80px;
  	color:  rgb(255, 136, 0);;
  	position:center;
  	margin-left: 600px;
  }
 .c{
 	height: 1000px;
 	width: 1000px;
 	background-color: black;
 	position: absolute;
 	top: 1000px;
 	left: 150px;
 }
 .cc1{
 	height: 500px;
 	width: 1000px;
 	background-color: white;
 }
 .cc2{
 	height: 600px;
 	width: 1000px;
 	background-color: white;
 	position: relative;
 }
 .c1{
 	height:200px;
 	width: 435px;
 	background-color: blue;
 	position: absolute;
 	top: 38px;
 	left: 38px;
 	float: left;
	
 	
 }
 .c1 img{
 	width: 100%;
 	height: 100%;
 }
 .c2{
 	height:200px;
 	width: 435px;
 	background-color: blue;
 	position: absolute;
 	top: 38px;
 	left: 520px;
 	float: right;
 	
 }
 .c2 img{
 	width: 100%;
 	height: 100%;
 }
 .c3{
 	height:200px;
 	width: 435px;
 	background-color: blue;
 	position: absolute;
 	top: 550px;
 	left: 38px;
 	float: left;
 	
 }
 .c3 img{
 	width: 100%;
 	height: 100%;
 }
 .c4{
 	height:200px;
 	width: 435px;
 	background-color: green;
 	position: absolute;
 	top: 550px;
 	left: 520px;
 	float: right;
 }
 .c4 img{
 	width: 100%;
 	height: 100%;
 }
.d{
 	height: 1200px;
 	width: 1000px;
 	background-color:white;
 	position: absolute;
 	top: 2100px;
 	left: 150px;
 }

 .d1{
 	height: 1000px;
 	width: 300px;
 	background-color: white;
 	margin-left: 30px;
 	float: left;

 }

 .d2{
 	height: 1000px;
 	width: 300px;
 	background-color: white;
 	float: left;
 	margin-left: 30px;

 }
 .d3{
 	height: 1000px;
 	width: 300px;
 	background-color: white;
 	float: right;

 }
 .dd1{
 	height: 490px;
 	width: 300px;
 	background-color: blue;
 }
 .dd2{
 	height: 490px;
 	width: 300px;
 	background-color: green;
 	margin-top: 20px;
 }
 .dd3{
 	height: 320px;
 	width: 300px;
 	background-color: green;

 }
 .dd4{
 	height: 320px;
 	width: 300px;
 	background-color: green;
 	margin-top: 20px;

 	
 }
 .dd5{
 	height: 320px;
 	width: 300px;
 	background-color: green;
 	margin-top: 20px;

 	
 }
 .dd6{
 	height: 490px;
 	width: 300px;
 	background-color: yellow;
 }
 .dd7{
 	height: 490px;
 	width: 300px;
 	background-color: green;
 	margin-top: 20px;
 }
 	.dd1 img{
 	width: 100%;
 	height: 100%;
 }
 .dd2 img{
 	width: 100%;
 	height: 100%;
 }
 .dd3 img{
 	width: 100%;
 	height: 100%;
 }
 .dd4 img{
 	width: 100%;
 	height: 100%;
 }
 .dd5 img{
 	width: 100%;
 	height: 100%;
 }
 .dd6 img{
 	width: 100%;
 	height: 100%;
 }
 .dd7 img{
 	width: 100%;
 	height: 100%;
 }
 .e{
 	height: 600px;
	width: 100%;
	background:url('../images/m.avif');
	background-size: cover;
	position: absolute;
	top: 3300px;
	
	}
	.h5{
		margin-left: 480px;
		color: rgb(255, 136, 0);;
		margin-top: 100px;
		font-size: 40px;
	}
	.hh{
		width: 20px;
		color: rgb(255, 136, 0);;
	}
	.aa{
		color: white;
		background-color: rgb(255, 136, 0);;
		padding: 15px;

	}
	.last{
		height: 626px;
		width: 800px;
		background-color: white;
		position: absolute;
		top: 517px;
		left: 220px;
	}
	.l1{
		height: 250px;
		width: 350px;
		background-color: white;
		position: absolute;
		top:50px;
		left: 30px;
		border:2px solid grey;
	}
	.l2{
		height: 250px;
		width: 350px;
		background-color: white;
		position: absolute;
		top:50px;
		left: 420px;
		border:2px solid grey;
	}
	.l3{
		height: 250px;
		width: 350px;
		background-color: white;
		position: absolute;
		top:337px;
		left: 30px;
		border:2px solid grey;
	}
	.l4{
		height: 250px;
		width: 350px;
		background-color: white;
		position: absolute;
		top:337px;
		left: 420px;
		border:2px solid grey;
	}
	.pp1{
		margin-left: 106px;
		margin-top: 75px;
		color: black;
		font-size: 15px;
	}
	.pp2{
		margin-left: 106px;
		margin-top: 75px;
		color: black;
		font-size: 15px;
	}
	.pp3{
		margin-left: 106px;
		margin-top: 75px;
		color: black;
		font-size: 15px;
	}
	.pp4{
		margin-left: 106px;
		margin-top: 75px;
		color: black;
		font-size: 15px;
	}
	.ph{
		font-size: 83px;
		color: rgb(255, 136, 0);;
		margin-left: 135px;
	}
.form{
	margin-left: 250px;
	margin-top: 50px;
	background-color: white;
	padding:10px;
	/*border-color:2px black;*/


}
.form1{
	
	margin-top: 50px;
	padding:10px;
	border-color:2px black;


}
.submit{
	color: white;
	background-color:rgb(255, 136, 0);;
	padding: 10px;
}
.sub{
	height: 100px;
	width: 435px;
	background-color: blue;
	position: absolute;
	top: 100px;

}
.newh{
	margin-top: 20px;
}
.h44{
	margin-top: 24px;
	margin-left: -91px;

}
.a8{
	margin-top: 20px;
	margin-left: -86px;
	background-color: rgb(255, 136, 0);;
	padding: 10px;

}
.p22{
	margin-left: -235px;
}